<h1> cloud accounts </h1>
<% if @cloud_accounts && !@cloud_accounts.empty? %>
  <% @cloud_accounts.each do |account| %>
    <table>
      <thead>
        <tr id=<%= account.id %>>
          <th class="top-left">Label</th>
          <td class="top-right-light"><%= account.label%></td>
        </tr>
        <tr>
          <th>provider</th>
          <td><%= account.provider%></td>
        </tr>
        <tr>
          <th>region</th>
          <td><%= account.region%></td>
        </tr>
        <tr>
          <th>S3 URL</th>
          <td><%= account.s3_url%></td>
        </tr>
        <tr>
          <th>Ec2 URL</th>
          <td><%= account.ec2_url%></td>
        </tr>
        <tr>
          <th>Access key</th>
          <td><%= account.ec2_access_key%></td>
        </tr>
        <tr>
          <th>Secret key</th>
          <td><%= account.ec2_secret_key%></td>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th class="rounded-foot-left-dark"></th>
          <td class="rounded-foot-right"></td>
        </tr>
      </tfoot>
    </table>
  <% end %>
<% else %>
  You currently have no cloud accounts registered
<% end %>
<div>
  <%= link_to "Add cloud account", new_cloud_account_path %>
