<table>
  <thead>
    <tr>
      <th class="top-left">ID</th>
      <th>IP</th>
      <th>Image</th>
      <th>Key Name</th>
      <th>Group</th>
      <th class="top-right-dark">State</th>
    </tr>
  </thead>
  <tbody>
    <% @servers.each do |server| %>
      <tr id=<%= server.id %>>
        <td><%= server.id %></td>
        <td><%= server.dns_name %></td>
        <td><%= server.image_id%></td>
        <td><%= server.key_name%></td>
        <td><%= server.groups.first %></td>
        <td><%= server.state%></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td class="rounded-foot-left-light"></td>
      <td colspan="4"></td>
      <td class="rounded-foot-right"></td>
    </tr>
  </tfoot>
</table>
