  <table>
    <tr>
      <th>ID</th>
      <th>Platform</th>
      <th>Architecture</th>
      <th>Location</th>
      <th>Owner</th>
      <th>State</th>
    </tr>
    <% @images.each do |image| %>
      <tr>
        <td><%= image.id %></td>
        <td><%= image.platform%></td>
        <td><%= image.architecture%></td>
        <td><%= image.location%></td>
        <td><%= image.owner_id%></td>
        <td><%= image.state%></td>
      </tr>
    <% end %>
  </table>
