<!DOCTYPE html>
<html>
<head>
  <title>Lgdm</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <%- flash.each do |name, msg| -%>
    <%= content_tag(:div, :class =>"flash #{name}", :id => "flash_#{name}") do -%>
      <%= content_tag :p, msg -%>
    <% end -%>
  <%- end -%>

  <%= yield %>

</body>
</html>
