<!DOCTYPE html>
<html>
  <head>
    <title>Lgdm</title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
  </head>
  <body id="<%= @page %>">
    <div class="heading">
      <%= image_tag( asset_path("lgdm_logo.png")) %>
      <div class="status">
        <% if !current_user %>
          <%= link_to "Register", new_user_path %> |
          <%= link_to "Log in", login_path %> |
        <% else %>
          <%= current_user.email %> | <%= link_to("Log out", logout_path)%>
        <% end %>
      </div>
    </div>

    <div class="content">
      <div>
        <div>
          <% if current_user %>
            <div id="menu">
              <ul>
                <li><%= link_to "images", images_path,  :id=>"images_nav"%></li>
                <li><%= link_to "servers", servers_path,  :id=>"servers_nav"%></li>
                <li><%= link_to "cloud accounts", cloud_accounts_path, :id=>"cloud_accounts_nav"%></li>
                <li><%= link_to "chef accounts", chef_api_accounts_path, :id=>"chef_accounts_nav"%></li>
              </ul>
            </div>
          <% end %>

          <div class="main-section">
            <%- flash.each do |name, msg| -%>
              <%= content_tag(:div, :class =>"flash #{name}", :id => "flash_#{name}") do -%>
                <%= content_tag :p, msg -%>
              <% end -%>
            <%- end -%>

            <%= yield %>
          </div>
        </div>
      </div>
      <div class="footer">
        Some copyright stuff
      </div>
    </div>

  </body>
</html>
